files:
  "/home/ec2-user/logdna.sh" :
    mode: "000777"
    owner: root
    group: root
    content: |
      #!/bin/sh
      rpm --import https://repo.logdna.com/logdna.gpg
      echo "[logdna]
      name=LogDNA packages
      baseurl=https://repo.logdna.com/el6/
      enabled=1
      gpgcheck=1
      gpgkey=https://repo.logdna.com/logdna.gpg" | sudo tee /etc/yum.repos.d/logdna.repo
      yum -y install logdna-agent
      logdna-agent -k f66b5198f568007f9fec0d4c8294c875 # this is your unique Ingestion Key
      # /var/log is monitored/added by default (recursively), optionally add more dirs here
      #logdna-agent -d /path/to/log/folders
      # logdna-agent --hostname allows you to pass your AWS env metadata to LogDNA (remove # to uncomment the line below)
      #logdna-agent --hostname `{"Ref": "AWSEBEnvironmentName" }`
      # logdna -t option allows you to tag the host with tags (remove # to uncomment the line below)
      #logdna-agent -t `{"Ref": "AWSEBEnvironmentName" }`
      chkconfig logdna-agent on
      service logdna-agent start
commands:
  01_install_logdna:
    command: "/home/ec2-user/logdna.sh"
  02_restart_logdna:
    command: "service logdna-agent restart"